@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
/* * {
    border: 1px solid;
} */
body {
    font-family: Arial, 'Noto Sans TC', sans-serif;
    font-size: 14px;
    padding-top: 60px;
}
/**************************navbar******************************/
.navbar {
    padding: 0;
    background-color: #c7000a;
}
.nav-link {
    color: #fff !important;
    font-weight: bolder;
    font-size: x-large;
}
.dropdown-item {
    color: #337ab7 !important;
    font-size: large;
}

.dropdown>.show>a:hover,
.dropdown>.show>a:focus {
    color: #fff !important;
    background-color: #767676;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu.show {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/**********************content************************/
#content {
    margin-top: 10px;
}

/*******slider********/
.row .col-md-2 .sidebar {
    border: 2px solid #dfdfdf;
    background-color: #f7f7f7;
}
.sidebar {
    padding: 5px;
}

.card-body table td:hover {
    background-color: antiquewhite;
}
.card-body {
    padding: 0px;
}

.table {
    margin-bottom: 0px;
}
.table td {
    border-top: none;
    border-bottom: 1px solid #dee2e6;
    padding-left: 2.5rem;
}
td>em {
    margin-right: 5px;
}
.card.text-center.mt-3 img {
    opacity: 1;
    transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
}
.card.text-center.mt-3 img:hover {
    opacity: 0.5;
    border: 1px solid #e600a0;
}
/**********about***********/
#aboutme {
    background-color: #31384a;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}


/************footer************/
#last-data {
    height: 100px;
    background-color: #b4b4b4;
    padding-top: 10px;
}

/************goods***************/
.card .row.mt-2 .col-md-4 a>img:hover {
    border: 1px solid #e600a6;
}

.color_e600a0 {
    color: #e600a0;
}
.color-success {
    color: #fff;
    background-color: #28a705;
}
.badge.badge-info{
    font-size: 50%;
}
.color_red{
    color: red;
}
.table-responsive-md table td{
    text-align: center;
}
.table-responsive-md table tfoot td{
    text-align: center;
}
.table-responsive-md table tr:hover{
    background-color: rgba(152, 214, 245, 0.3);
}

